@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --main-color-primary: #011c40;
}

@media screen and (min-width: 0px) {
  /* MAIN */
  * {
    box-sizing: border-box;
  }
  body {
    background: #f5f5f5;
  }
  *,
  html,
  p,
  a,
  label,
  input,
  button,
  textarea,
  select {
    font-family: "Lato", "Poppins", Arial;
  }
  .wcbtn {
    font-weight: bold;
  }
  a.wcbtn.btn-border,
  button.wcbtn.btn-border {
    background: transparent;
    color: #353535 !important;
    border: 0.1rem solid #b8bcd3;
  }
  a.wcbtn.btn-border-red,
  button.wcbtn.btn-border-red {
    background: transparent;
    color: var(--main-color-primary) !important;
    border: 0.1rem solid var(--main-color-primary);
  }
  a.wcbtn.btn-primary,
  button.wcbtn.btn-primary {
    background: var(--main-color-primary);
  }
  a.wcbtn:hover,
  input.wcbtn:hover,
  button:hover {
    transform: scale(1.05);
  }
  .blue {
    color: var(--main-color-primary) !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", "Poppins", Arial;
    font-weight: 600;
  }
  #main__wrapper {
    padding: 5rem 1rem;
  }
  #main__wrapper form .wcrow > * {
    padding: 0.5rem 0;
  }

  /* LOGIN */
  #main__wrapper.login {
    position: relative;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #main__wrapper.login .container__row {
    background: #fff;
    width: 100%;
    max-width: 45rem;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
  }

  /* TOKEN VALIDATION */
  #request_retrieve_token {
    padding-top: 1.5rem;
    cursor: pointer;
  }
  p.alert-text {
    color: #05ab2f;
  }

  /* FORGOT PASS */
  #recover-password-msg {
    margin-top: 1.5rem;
  }
  #forgot-pass-title {
    font-size: 3rem;
    margin-top: 1.5rem;
  }

  /* CHANGE PASS */
  .title_login {
    margin-top: 1.5rem;
  }

  /*
######################################################################
  Dashboard
######################################################################
/*

  /* DASHBOARD CONTEN WRAPPER*/
  #dashboard__container__content {
    padding: 4.5rem;
    padding-bottom: 60px;
  }

  /* LOGO */
  .sidebar__logo_container {
    display: flex;
    justify-content: center;
  }
  .sidebar-logo {
    width: 70%;
  }

  /* USUARIOS*/
  .tabs-container {
    padding: 0px 20% 30px 20%;
    display: flex;
    justify-content: space-around;
  }
  .sub_tabs,
  .top__actions {
    display: flex;
    justify-content: start;
  }
  div:has(> #crear-rol-action) {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .top__actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub_tabs > a,
  .top__actions > button,
  .top__actions > div {
    margin-right: 10px;
  }
  thead,
  tbody,
  td,
  tr,
  th {
    width: 100%;
  }
  .actions-style {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .actions-icons {
    cursor: pointer;
    margin-right: 3px;
  }
  #no-permission,
  #permissions {
    padding: 3px;
    border-radius: 4px;
  }
  #permissions {
    border: 1px solid #80cd93;
  }
  #no-permission {
    border: 1px solid #d68a8a;
  }
  .modal-create-rol {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .container__crol_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .container__crol_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .modal-dialog {
    background: #fff;
    border: 2px solid #aaa;
    border-radius: 5px;
    z-index: 999;
    max-width: 420px;
    margin: auto;
    padding: 1em 2em 2em;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .modal-overlay {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #000;
    opacity: 0.75;
  }

  /* Guiarantee and childs */
  .guarantee__cont_row {
    display: flex;
    padding-bottom: 0px;
  }
  .child__row_cols2 {
    width: 50%;
    padding: 20px 30px;
  }

  .guaranteee_ds_container {
    display: flex;
  }

  #container__date_resolver {
    width: 100%;
    padding: 20px 30px;
    margin-right: 30px;
  }
  #container__date_resolver .child__rdate_cols2:nth-child(1) {
    margin-right: 10px !important;
  }
  #label-date-select {
    margin-bottom: -10px;
  }

  .child__rdate_cols2 {
    width: 50%;
    margin-top: 10px;
  }

  #guarantee__search_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #guarantee__search_buttons button {
    padding: 12px 8rem;
  }
  #guarantee__search_buttons button:nth-child(1) {
    margin-right: 10px;
  }
  #guanrantee__consultation_body {
    margin-top: 45px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
  }
  #tabs__table_gconsult_container {
    display: flex;
    flex-direction: column;
  }
  #guarantee_consult {
    justify-content: center;
  }

  .records__container {
    width: 105%;
    display: flex;
    gap: 30px;
  }

  .export_data_fields__container {
    width: 180px;
  }

  .records__table {
    width: 100%;
    height: fit-content;
  }

  .download__record_data {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
  }
  .download__record_data * {
    cursor: pointer;
  }
  .download__record_data > div {
    padding: 10px;
    width: 50px;
    height: 45px;
    background: orange;
    border-radius: 100px;
  }

  .download__record_data > label {
    font-size: 1.3rem;
  }

  .records__checkboxes_container {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .records__checkboxes_container > li {
    display: flex;
    padding: 6px 0px;
  }
  .records__checkboxes_container input {
    margin-left: 8px;
    cursor: pointer;
  }
  .records__checkboxes_container label {
    cursor: pointer;
  }
  /*
######################################################################
  Fin nuevos estilos
######################################################################/*
*/

  /*************************************** DASHBOARD ***************************************/
  /* MAIN */
  #main__wrapper .wcrow.actions > * {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  #main__wrapper .wcrow.actions > * *:last-child {
    margin-left: auto;
  }

  /* SIDEBAR */
  #sidebar {
    background: url("../../images/background-sidebar.png") no-repeat center 0 var(--main-color-primary);
    position: fixed;
    width: 30rem;
    height: 100%;
    top: 0;
    left: -200%;
    padding: 2rem;
  }
  #sidebar * {
    color: #fff;
  }
  #sidebar .container__logo {
    margin: 2rem 0;
  }
  #sidebar .container__logo img {
    filter: brightness(0) invert(1);
  }
  #sidebar nav#nav__sidebar ul.lists__items {
  }
  #sidebar nav#nav__sidebar li {
    display: block;
  }
  #sidebar nav#nav__sidebar li a,
  #sidebar nav#nav__sidebar li button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 2rem;
  }
  #sidebar nav#nav__sidebar li * .container__icon {
    width: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 0.5rem;
  }
  #sidebar nav#nav__sidebar li * .container__icon .wcicon {
    font-size: 2.5rem;
  }
  #sidebar nav#nav__sidebar li.active a {
    background: linear-gradient(91.14deg, #323ad9 3.09%, #1119c7 98.33%);
    border-radius: 5px;
  }
  #sidebar nav#nav__sidebar hr {
    background: rgba(255, 255, 255, 0.5);
    height: 0.1rem;
    margin: 1rem 0;
    border: 0;
  }

  /* HEADER */
  #header {
    background: #fff;
    width: 100%;
    padding: 1rem;
  }
  #header .container__row-fullwidth {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  #header .container__logo img {
    max-width: 15rem;
  }
  #header .container__right {
    display: inline-block;
    margin-left: auto;
  }
  #header .container__right a.user {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
  }
  #header .container__right a.user > .wcicon {
    margin-left: 0.2rem;
    font-size: 1.8rem;
  }
  #header .container__right a.user ul.sub-menu {
    background: #fff;
    position: absolute;
    width: 25rem;
    height: 0;
    top: 4rem;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
  }
  #header .container__right a.user:hover ul.sub-menu {
    height: auto;
    visibility: visible;
    opacity: 1;
  }
  #header .container__right a.user ul.sub-menu * {
    font-size: 1.4rem;
  }
  #header .container__right a.user ul.sub-menu li {
    display: block;
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05);
  }
  #header .container__right a.user ul.sub-menu li:last-child {
    border-bottom: 0;
  }
  #header .container__right a.user ul.sub-menu li a {
    display: block;
  }
  #header .container__right a.user ul.sub-menu li a.wcicon {
    margin-right: 0.5rem;
  }

  /* MAIN WRAPPER GLOBAL */
  #main__wrapper.dashboard {
    width: 100%;
    padding: 2rem;
    background: #f5f6fa;
  }
  #main__wrapper.dashboard #container__content #container__content-search,
  #main__wrapper.dashboard #container__content #container__content-content {
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
  }
  #main__wrapper.dashboard #container__content #container__content-content {
    margin: 2rem 0;
  }
  /*************************************** DASHBOARD ***************************************/
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  /* LOGIN */
  #main__wrapper.login .container__row {
    padding: 3rem;
  }

  /*************************************** DASHBOARD ***************************************/
  /* SIDEBAR */
  #sidebar {
    top: 0;
    left: 0;
  }
  #sidebar .container__logo {
    margin: 4rem 0;
  }

  /* MAIN WRAPPER GLOBAL */
  #header {
    width: calc(100% - 30rem);
    margin-left: 30rem;
  }
  #main__wrapper.dashboard {
    width: calc(100% - 30rem);
    margin-left: 30rem;
    padding: 4.5rem;
  }
  /*************************************** DASHBOARD ***************************************/
}
@media screen and (min-width: 1300px) {
}
@media screen and (min-width: 1370px) {
}
